@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* Reset CSS */
:root {
    --vino: #85110A;
    --beige: #FAD393;
    --marron-claro: #DE8735;
    --rosa-claro:#F58147;
    --rosa-oscuro: #E03209;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: var(--vino);
}


/* Header section */

header {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* Nav section */

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vino);
    position: fixed;
}

.navBar img {
    width: 50px;
    margin-left: 20px;
}

.boton-menu {
    margin-right: 1em;
}

.boton-menu .line {
    display: block;
    width: 38px;
    height: 4px;
    background-color: #FFF;
    margin-block: 8px;
    border-radius: 4px;
    transition: transform .5s;
}

#check:checked ~ .boton-menu .line:nth-child(1) {
    transform: translateY(13px)
    rotate(45deg);
}

#check:checked ~ .boton-menu .line:nth-child(2) {
    opacity: 0;
}

#check:checked ~ .boton-menu .line:nth-child(3) {
    transform: translateY(-13px)
    rotate(-45deg);
}

.navBar .menu-bar {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: var(--vino);
    opacity: 0.9;
    text-align: center;
    transition: all .5s;
}

.navBar .menu-bar li {
    display: none;
    line-height: 30px;
    margin: 60px 0px;
    transition: all .5s;
}

.navBar .menu-bar li a {
    color: #FFF;
    font-size: 30px;
    text-decoration: none;
}

.navBar .menu-bar li a.active, .navBar .menu-bar li a:hover{
    color: var(--rosa-claro);
    text-shadow: 0px 0px 5px var(--rosa-claro);
    transition: .3s;
    text-decoration: underline;
}

#check {
    display: none;
}

#check:checked ~ .menu-bar{
    height: 100vh;
}

#check:checked ~ .menu-bar li {
    display: block;
}



/* Comidas section */

.comidas {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 100px;
}

.entradas .portada {
    background: url("../assets/restaurant_4.jpg");
    background-size: cover;
    background-position: center;
}

.ensaladas .portada {
    background: url("../assets/food_5.jpg");
    background-size: cover;
    background-position: center;
}

.pizzas .portada {
    background: url("../assets/food_1.jpg");
    background-size: cover;
    background-position: center;
}

.postres .portada {
    background: url("../assets/food_6.jpg");
    background-size: cover;
    background-position: center;
}

.portada {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portada h2 {
    color: #FFF;
    font-size: 3em;
}

.platos {
    padding: 3em 1em 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plato-card {
    width: 80%;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.plato-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 11px 10px 25px 10px rgba(0, 0, 0, 0.25);
}

.plato-card h3 {
    color: #FFF;
    line-height: 1.4em;
    margin-top: 0.5em;
    font-size: 1.7em;
}

.plato-card p {
    color: #FFF;
    margin-top: 0.2em;
    font-size: 1.4em;
}

/* Footer */

footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

footer div .icon {
    font-size: 2em;
    color: #FFF;
}

footer p {
    text-align: center;
    color: #FFF;
}

footer p a {
    color: var(--beige);
    cursor: pointer;
}

footer p a:visited {
    color: var(--rosa-oscuro);
}


/* Media Querys*/

@media only screen and (min-width: 768px) {

    /* Nav section */

    .navBar {
        flex-direction: column;
        justify-content: center;
        height: 200px;
        padding: 0.5em;
    }

    .navBar img {
        width: 100px;
    }

    .boton-menu {
        display: none;
    }

    .navBar .menu-bar {
        position: relative;
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 100%;
        min-width: 600px;
        top: 0;
        background: none;
        transition: none;
        text-align: center;
    }

    .navBar .menu-bar li {
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
        transition: none;
    }

    .navBar .menu-bar li a {
        font-size: 2em;
        color: #FFF;
    }

    .navBar .menu-bar li a.active, .navBar .menu-bar li a:hover{
        color: var(--rosa-claro);
        text-decoration: underline;
        transition: .3s;
    }



    /* Comidas section */

    .portada {
        height: 550px;
    }

    .portada h2 {
        color: #FFF;
        font-size: 7em;
    }

    .platos {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .plato-card {
        width: 25%;
        min-width: 320px;
        margin: 4em 0;
    }

    .plato-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        box-shadow: 11px 10px 25px 10px rgba(0, 0, 0, 0.25);
    }

    .plato-card h3 {
        color: #FFF;
        line-height: 1.4em;
        margin-top: 0.5em;
        font-size: 1.7em;
    }

    .plato-card p {
        color: #FFF;
        margin-top: 0.2em;
        font-size: 1.4em;
    }



    /* Footer */

    footer div {
        margin-top: 2em;
        width: 15%;
    }

    footer div .icon {
        font-size: 2.5em;
    }

    footer p {
        margin-top: 5em;
    }

    footer p a:visited {
        color: var(--rosa-oscuro);
    }
}